html{
  background-color: gray;
}
 .landingPage{
  background: url("./images/033119_JeanHughesPortraitsLoom-179.jpg") no-repeat center center fixed;
  background-size: cover;
  background-position: center;
  min-height: 100%;
  min-width: 1024px;
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
 }



.whoAmI{
  text-align: center;
  font-family: "Dancing Script";
  font-size: 18px;
  background-color: rgb(32, 51, 56, .7);
  color: rgb(255,255,255);
  padding: 2px;
}

.intro{
  height: 100%;
  width: 30%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(32, 51, 56, 8);
}

.headerText{
  font-family: "Dancing Script";
  font-size: 16px;
  background-color: rgb(32, 51, 56);
  color: rgb(255,255,255);
  text-align: left;
  padding: 10px;
}

.ProjectLink{
  display: block;
  font-size: 14px;
  padding-left: 20px;
  color: rgb(255,255,255);
}

.HeaderLink{
    font-family: "Dancing Script";
    font-size: 16px;
    background-color: rgb(32, 51, 56);
    color: rgb(255,255,255);
    text-align: left;
    display: block;
    padding: 10px;
}

 
.intro:hover .HeaderLink{
  display: block;
} 

.flexContainer{
  display:flex;
  flex-direction: row;  
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: flex-start;
  height: 200px;
  position: fixed;
  top: 50%;
  left: 50%; 
  transform: translate(-50%, -50%);
  width: 70%;
}
.landingPageButtons{
    font-size: 30px;
    background-color: rgb(32, 51, 56, .7);
    color: rgb(255,255,255);
    padding: 10px;
    margin: 50px;
    text-align: center;
    width: 200px;
    height: 200px; 
}

.landingPageButtons:hover{
  background-color: rgb(32, 51, 56);
}

.info{
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 10px;
  margin-left: 32%;
  background-color: rgb(210, 178, 183);
  padding: 12px;
  font-family: "EB Garamond";
  line-height: 20px;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 15px;
}

.ParisPic{
  width: 70%;
}

@media only screen and (min-width: 800px) {

  .ParisPic{
    width: 50%;
  }

}