html{
  background-color:rgb(#dcbfc2);
}

body{
  background-color:#dcbfc2 ;
}

* {
  box-sizing: border-box;
  -webkit-transition: 0.35s ease;
  transition: 0.35s ease;
}

 .landingPage{
  position: fixed;
  top: 50%;
  left: 50%; 
  transform: translate(-50%, -50%);
  font-size: 30px;
  background-color: #ac9194;;
  border-style: solid;
  border-color: rgb(32, 51, 56);
  color: black;
  padding: 10px;
  margin: 50px;
  text-align: center;
  font-size: 24px;
 }



.whoAmI{
  text-align: center;
  background-color: rgb(32, 51, 56, .7);
  color: rgb(255,255,255);
  padding: 2px;
}

.bigInfo{
  font-size: 24px;
  letter-spacing: 2px;
  font-weight: 600;
  line-height: 28px;
  margin-bottom: 10px;
  padding-bottom: 5px;
  border-bottom: 1px solid  rgb(32, 51, 56);
}

.jobTitle{
  font-size: 18px;
  letter-spacing: 2px;
  font-weight: 600;
  line-height: 28px;
  margin-bottom: 3px;
  border-bottom: 1px solid rgb(0, 0, 0);
}



.intro{
  height: 95%;
  width: 15%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #ac9194;;
  border-style: solid;
  border-color: rgb(32, 51, 56);
  color: black;
  margin: 20px;

}

.HeaderLink{

}


.ProjectLink{
  display: block;
  font-size: 14px;
  padding-left: 20px;
  color: rgb(255,255,255);
}

.info{
  margin-top: 40px;
  margin-bottom: 40px;
  margin-right: 40px;
  margin-left: 20%;
  background-color: #ac9194;
  padding: 30px;
  line-height: 20px;
  border: 1px solid  rgb(32, 51, 56);
}



.ParisPic{
  width: 50%
}

.ProjectPic{
  width: 95%;
}

.rela-block {
  display: block;
  position: relative;
  margin: auto;
}
.rela-inline {
  display: inline-block;
  position: relative;
  margin: auto;
}
.floated {
  display: inline-block;
  position: relative;
}

.abs-center {
  display: false;
  position: absolute;
  margin: false;
  top: 50%;
  left: 50%;
  right: false;
  bottom: false;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
  width: 88%;
}

.top-bar {
  height: 220px;
  background-color: rgb(32, 51, 56);
  color: #fff;
}
.name {
  position: absolute;
  left: calc(350px + 5%);
  right: 0;
  bottom: 0;
  height: 120px;
  text-align: center;
  font-size: 58px;
  letter-spacing: 8px;
  font-weight: 100;
  line-height: 60px;
}
.name div {
  width: 94%;
}

.ResumePic{
  width: 90%;
  padding: 20px
}
.side-bar {
  position: absolute;
  top: 20px;
  left: 5%;
  width: 350px;
  background-color: #ac9194;
  line-height: 20px;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 5px;
  padding: 30px 30px 50px;
  margin-bottom: 10px;
}

.social {
  padding-left: 60px;
  margin-bottom: 20px;
  cursor: pointer;
}

.side-header {
  font-size: 18px;
  letter-spacing: 4px;
  font-weight: 600;
  line-height: 28px;
  margin: 60px auto 10px;
  padding-bottom: 5px;
  border-bottom: 1px solid rgb(0, 0, 0);
}
.list-thing {
  padding-left: 25px;
  margin-bottom: 10px;
}
.content-container {
  margin-right: 0;
  width: calc(95% - 350px);
  padding: 25px 40px 50px;
}
.content-container > * {
  margin: 0 auto 25px;
}
.content-container > h3 {
  margin: 0 auto 5px;
}
.content-container > p.long-margin {
  margin: 0 auto 50px;
}
.title {
  width: 80%;
  text-align: center;
}
.separator {
  width: 240px;
  height: 2px;
  background-color: #999;
}

/* @media screen and (max-width: 1150px) {
  .name {
    color: #fff;
    font-family: 'Raleway';
    font-size: 38px;
    letter-spacing: 6px;
    font-weight: 100;
    line-height: 48px;
  }
} */
